
@{
    ViewBag.Title = "Home";
}
<br />
<br />
<br />
<br />
<br />

<h2></h2>

<!-- start Latest post Section -->
<section id="lts_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                <div class="title_sec">
                    <h1>Our Latest Blog</h1>
                    <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="lts_pst">
                    <img src="~/Content/pics/PiggyBankKid.jpg" alt="" />
                    <h2>JuniorInvest</h2>
                    <p>Für die Zukunft Ihrer Liebsten. Schaffen Sie ein finanzielles Startpaket für Ihr Kind.</p>
                    <a href="single.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="lts_pst">
                    <img src="~/Content/pics/HappyFamily.jpg" alt="" />
                    <h2>Wohnfinanzierung</h2>
                    <p>Für ein schöneres Zuhause. Ob Haus oder Wohnung – verzichten Sie nicht auf Ihren Wohntraum. Wir bieten Ihnen Kredite und Darlehen nach Maß.</p>
                    <a href="">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="lts_pst">
                    <img src="~/Content/pics/OnlineBanking.jpg" alt="" />
                    <h2>Digitales Banking</h2>
                    <p>Alles auf einen Klick. Das modernste Online-Banking für Ihr Geld.</p>
                    <a href="">Read more <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="post_btn">
                <div class="hover_effect_btn" id="hover_effect_btn">
                    <a href="/KonsumKredit/KreditRahmen"><span>Zum Kredit</span></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Latest post Section -->

